* {
	box-sizing: border-box;
	font-size: 16px;
}
body {
	background: #191a19;
	margin: 0px;
}
select, a, input {
	outline: none;
	cursor: pointer;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background: #4e9f3d;
}
